.newUser {
  display: flex;
  width: 100%;
  background: whitesmoke;
  color: #616161;
  .userContent {
    flex: 6;
    .newUserDetails {
      padding: 20px;
      .newUserHeading {
        background: white;
        padding: 15px 20px;
        --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        margin-bottom: 20px;
      }
      .newUserInfo {
        display: flex;
        --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        .newUserImageContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex: 1;
          .newUserImg {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: grey;
          }
        }
        .userForm {
          display: flex;
          gap: 20px;
          align-items: center;
          padding: 20px 10px;

          flex: 2;
          .top {
            .icon {
              cursor: pointer;
            }
          }
          .middle {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-around;
            .formInput {
              width: 40%;
              display: flex;
              flex-direction: column;
              label {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 600;
                color: #555;
              }
              input {
                width: 100%;
                padding: 5px;
                border-bottom: 1px solid gray;
                border-radius: 5px;
                background: transparent;
                margin: 20px 0;
                font-size: 18px;
                &::placeholder {
                  color: #999;
                  font-size: 14px;
                }
              }
            }
            .btnContainer {
              width: 150px;
              transform: translate(50%);
              .addUserButton {
                border: none;
                padding: 10px 15px;
                background-color: rgb(9, 56, 9);
                color: white;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
