.navigation {
  height: 50px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 5px;
  color: #333;
  border-bottom: 1px solid grey;
  .topLeftSection {
    display: flex;
    align-items: center;
    gap: 20px;
    .dashboardMenuBtn {
      display: none;
    }
    .searchTag {
      display: flex;
      border: 0.5px solid lightgray;
      align-items: center;
      margin: auto;
      padding: 3px;
      input {
        border: none;
        width: 100%;
        font-size: 14px;
        background: transparent;
        &::placeholder {
          padding: 5px 0 5px 5px;
          font-size: 16px;
        }
      }
      .searchIcon {
        cursor: pointer;
      }
    }
  }
}

.navbarIcons {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      cursor: pointer;
      .icon {
        font-size: 25px;
        cursor: pointer;
      }

      .counter {
        position: absolute;
        top: 5px;
        left: 13px;
        background: red;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
      }
      .imageContainer {
        width: 35px;
        height: 35px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid rgb(12, 80, 12);
          cursor: pointer;
        }
      }
    }
  }
  .menuIcon {
    display: none;
    .icon {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 980px) {
  .navBar {
    .topLeftSection {
      .searchTag {
        width: 150px;
      }
      .dashboardMenuBtn {
        display: block;
        .icon {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
