.sideBar {
  flex: 1.3;
  min-height: 100vh;
  background-color: whitesmoke;
  border-right: 0.5px solid lightgrey;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  .closeBtn {
    display: none;
    cursor: pointer;
  }
  .top {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

    .logoImg {
      font-size: 1.4rem;
      font-weight: 800;
      color: rgb(3, 126, 95);
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .logo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }

  .bottom {
    padding-left: 15px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .title {
      margin: 14px 0 5px;
      font-size: 15px;
      font-weight: 800;
      color: #616161;
    }
    .link {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: rgb(105, 223, 105);
      }
      .icon {
        font-size: 22px;
        color: rgb(10, 63, 10);
      }
      span {
        font-size: 15px;
        font-weight: 700;
        color: #414040;
      }
    }
  }
}
@media (max-width: 980px) {
  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 250px;
  }

  .sideBar.open {
    transform: translateX(0);
  }
  .sideBar .closeBtn {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    background: rgb(90, 33, 6);
    border: 0.3px solid darkred;
    font-size: 20px;
    border-radius: 5px;
    color: #616161;
  }
}
