.userData {
  display: flex;
  align-items: center;
  gap: 10px;
  .userImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.customers {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  color: #616161;
  .sideBar {
    flex: 1.3;
    min-height: 100vh;
    background-color: whitesmoke;
    border-right: 0.5px solid lightgrey;
  }
  .customerContainer {
    flex: 6;
    .customerHeading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15px;
      h2 {
        text-transform: capitalize;
        font-weight: 700;
      }
      .btn {
        border: 0.5px solid rgb(9, 114, 9);
        padding: 5px;
        font-size: 15px;
        color: green;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
      }
    }
    .table {
      /* --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47); */
      padding: 10px 15px;
      text-align: center;
    }
  }
}
.btns {
  display: flex;
  gap: 5px;
  padding: 5px 0;
  .view {
    border: 0.5px solid green;
    padding: 3px 10px;
    color: rgb(5, 128, 5);
    border-radius: 5px;
  }
  .delete {
    border: 0.5px solid red;
    padding: 3px 10px;
    color: rgb(223, 52, 52);
    border-radius: 5px;
  }
}

.Status {
  padding: 5px;
  border-radius: 5px;
  &.active {
    background-color: rgb(135, 230, 135);
    color: green;
  }
  &.pending {
    background-color: rgba(173, 188, 1, 0.29);
    color: goldenrod;
  }
  &.passive {
    color: rgb(235, 6, 6);
    background: rgb(231, 155, 155);
  }
}
