.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  gap: 25px;
  padding: 10px;
  border-radius: 10px;
  .left,
  .right {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    gap: 15px;

    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      color: #333;
      padding: 3px 0;
    }
    .counter {
      font-size: 20px;
      font-weight: 300;
    }
    .link {
      font-size: 14px;
      color: #333;
      cursor: pointer;
    }
    .percentage {
      display: flex;
      align-items: center;

      &.negative {
        color: red;
      }
      &.positive {
        color: green;
      }
    }
    .iconHolder {
      align-self: flex-end;
      border-radius: 4px;
    }
  }
}
