.featured{
    flex: 2;
      --webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47); 
    gap: 25px;
    padding: 10px;
    border-radius: 10px;

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333;
        .title{
            font-size: 16px;
            font-weight: 700;
        }
        .icon{
            cursor: pointer;
             :hover{
            color: #000;
        }
        }
       
    }
    .bottom{
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .featuredCharts{
            width: 180px;
            height: 180px;
            margin: "30px auto";
            box-sizing: "border-box";
        }
        .title{
            font-weight: 500;
            color: #616161;
        
        }
        .amount{
            font-size: 25px;
             font-weight: 700;
            color: #616161;
            padding: 10px 0;
        }
        .desc{
            font-size: 14px;
            font-weight: 500;
            color: #797777;
        }
        .amount_rating{
            margin: 10px 0;
            padding: 20px 0;
            
            .targets{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 35px;
            .list_amt{
                text-align: center;
                .title{
                    margin-bottom: 10px;
                }
                .prices{
                    display: flex;
                    align-items: center;
                    color: #616161;
                    &.positive{
                        color: green;
                    }
                    &.negative{
                        color: red;
                    }
            }
        }
        
        }
       
        }
      
    }
}