.homeLayout {
  display: flex;
  min-height: 100vh;
  .sideBar {
    flex: 1.3;
    min-height: 100vh;
    background-color: whitesmoke;
    border-right: 0.5px solid lightgrey;
  }
  .homeNavbar {
    flex: 6;
    .widgets {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
      }
    }
    .charts {
      display: flex;
      padding: 10px;
      gap: 20px;
    }
    .recent_transaction {
      padding: 20px;
      --webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 20px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 980px) {
  .homeLayout {
    .homeNavbar {
      .charts {
        flex-direction: column;
      }
    }
  }
}
